<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }} - Профиль</title>
</head>
<body>
    <h2>Профиль пользователя {{ user.username }}</h2>
    <p>Имя: {{ user.userprofile.name }}</p>
    <p>Информация: {{ user.userprofile.bio }}</p>
    {% if user.userprofile.avatar %}
        <img src="{{ user.userprofile.avatar.url }}" alt="Ваш аватар" style="max-width: 150px; max-height: 150px;">
    {% else %}
        <p>Аватар не загружен</p>
    {% endif %}
    <br>
    <a href="{% url 'edit_profile' %}">Редактировать профиль</a>


   <h3>Создать новый опрос</h3>
<form method="post" enctype="multipart/form-data" action="{% url 'profile' %}">
    {% csrf_token %}
    {{ poll_form.as_p }}
    <button type="submit">Создать опрос</button>
</form>



<h3>Ваши опросы</h3>
<ul>
    {% for user_poll in user_polls %}

            {{ poll_info.short_description }}
        <li>{{ user_poll.question }}:
            <a href="{% url 'poll_detail' poll_id=user_poll.id %}">Подробнее</a></li>
    {% endfor %}
</ul>
    <br>
    <a href="{% url 'index' %}">На главную</a>
    <br>
    <a href="{% url 'logout' %}">Выйти</a>
</body>
</html>
